body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-logo {
  width: 4.5em;
  height: auto;
  margin-right: 10px;
}

.nav-logo {
  width: 1em;
  height: auto;
  margin-right: 10px;
  padding-bottom: 4px;
}
.nav-link-custom {
  margin: 0 1em;
}

.bold-text {
  font-weight: bold;
}

.form-button {
  margin-top: 2em;
}

.form-button button {
  min-width: 10em;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 0;
  color: white;
}

.edit-buttons {
  margin-top: 0.5em;
  min-width: 7em;
  text-transform: uppercase;
  font-weight: bold !important;
  padding: 8px 0 !important;
  margin-bottom: 0.5em;
}

.lead {
  font-size: 1.1em !important;
  margin-top: 1.4em;
}

.filter-column-1 {
  flex: 0 0 200px;
}
.filter-column-2 {
  flex: 0 0 auto;
}

.employee-header {
  padding-top: 0.5em;
}